<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thank You for Purchasing</title>
  <style>
    .center-container {
           display: flex;
           justify-content: center;
           align-items: center;
           min-height: 100vh;   
           background-color: beige;      
           color: brown;  
           font-family: 'Times New Roman', Times, serif;      
        }
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body style="background-color: beige;      
color: brown;  
font-family: 'Times New Roman', Times, serif; ">
  <div class="row mb-3" style="text-align: center;margin-top: 10%;"> 
    <h1>Thank You for Your Purchase!</h1>
    <p>Your order has been successfully placed.</p>
  </div>
  
  <div class="container mt-4 ">

    <div class="row" style="margin-left: 30%; height: 200px; width: 300px;">
      <div class="col-md-12">
       
        <a href="/home" class="btn  btn-block" style="background-color: rgb(50, 4, 4); color: white;margin-left: 28%; height: 50px; width: 300px; margin-top: 20%;">Go Back to Shopping</a>
      </div>
    </div>
    <div class="row" style="margin-left: 30%; height: 200px; width: 300px;">
      <div class="col-md-12">
        
        <a href="/" class="btn btn-block" style="background-color: rgb(93, 64, 64); color: white;margin-left: 28%; height: 50px; width: 300px;margin-top: -40%;">Back to Main Page</a>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
