<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AeroStride</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        body {
    /* Use the appropriate gradient values */
    background: linear-gradient(45deg,  #ffff01,#01c1f7 );
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
}
    </style>
</head>
<body >
{% include 'navbar.html' %}

{% if error1 %}<h6 style="color: rgb(90, 9, 9);margin-left: 5%;margin-top: 2%;">{{error1}}</h6>{% endif %}

{% if error %}<h6 style="color: rgb(84, 6, 6);margin-left: 5%;">{{error}} <a href="/user-login"> Go to User Login Page</a></h6>{% endif %}
<div class="container mt-5">

    <div class="row mb-3">

        <div class="col-md-8" style="color: darkgreen; margin-left: 0%; font-size: 25px;">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="inputBox">
                <a class="btn btn-outline-success" id="anchorTag" type="submit" style="background-color: darkslategrey;color:cornsilk"><i class="fas fa-search" ></i></a>
            </form></div>

        <div class="col-md-2">
            <div class="container">
                <form method="post">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="margin-left: 100px;background-color: darkslategrey;color:cornsilk">
                            Sort by
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                            <li><button type="submit" name="sort" value="popularity" class="dropdown-item" >Popularity</button></li>
                            <li><button type="submit" name="sort" value="price_l_h" class="dropdown-item" >Price (Low to High)</button></li>
                            <li><button type="submit" name="sort" value="price_h_l" class="dropdown-item" >Price (High to Low)</button></li>
                        </ul>
                    </div>
                </form>
               
            </div>
        </div>
        
        <div class="col-md-2">
            <form method="post">
                <div class="text-center" >
                    <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#filterModal"style="background-color: darkslategrey;color:cornsilk">
                        Apply Filters
                     </button>
                </div>
              </form>
             
        </div>
    </div>
    <div class="row">
       
        <div class="col-md-12">
            {% if search_name %}<div class ="row mb-3"> <p>Showing results in "<span style="font-weight: bold;">{{search_name}}</span>"</p> </div>{% endif %}
            {% if filter_name %}<div class ="row mb-3"> <h4>{{filter_name}}</h3> </div>{% endif %}
            {% if sort_name %}<div class ="row mb-3"> <h5>Sorting by "{{sort_name}}"</h5> </div>{% endif %}
            
            <div class="row mt-4" >
                {% if not prod %} <p style="margin-left: 2px;">No products available right now.</p> 
                <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <form method="post">
                      <div class="modal-content">
                          <div class="modal-header">
                            Filter
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <ul class="list-group">
                                  <p>Gender</p>
                                  <li class="list-group-item"><input type="checkbox" id="category1" name="Men" value="Men"> Men</li>
                                  <li class="list-group-item"><input type="checkbox" id="category2" name="Women" value="Women"> Women</li>
                                  <li class="list-group-item"><input type="checkbox" id="category3" name="Child" value="Child"> Child</li>
                                  <li class="list-group-item"><input type="checkbox" id="category4" name="Unisex" value="Unisex"> Unisex</li>
                              </ul>
                          </div>
                          <hr class="my-3">
                          <div class="modal-body">
                              <ul class="list-group">
                                  <p>Size</p>
                                  <li class="list-group-item"><input type="checkbox" id="size36" name="36" value="36"> 36</li>
                                  <li class="list-group-item"><input type="checkbox" id="size37" name="37" value="37"> 37</li>
                                  <li class="list-group-item"><input type="checkbox" id="size38" name="38" value="38"> 38</li>
                                  <li class="list-group-item"><input type="checkbox" id="size39" name="40" value="39"> 39</li>
                                  <li class="list-group-item"><input type="checkbox" id="size40" name="41" value="40"> 40</li>
                                  <li class="list-group-item"><input type="checkbox" id="size41" name="42" value="41"> 41</li>
                                  <li class="list-group-item"><input type="checkbox" id="size42" name="43" value="42"> 42</li>
                              </ul>
                          </div>
                          <hr class="my-3">
              
                          <div class="modal-body">
                              <ul class="list-group">
                                  <p>Brand</p>
                                  {% for i in b %}
                                  <li class="list-group-item"><input type="checkbox" id="category1" name="{{i}}" value="{{i}}"> {{i}}</li>
                                  {% endfor %}
                              </ul>
                          </div>
                          <hr class="my-3">
              
                          <div class="modal-body">
                              <p>Price</p>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label for="min_price" class="form-label">Min:</label> 
                                  <input type="number" class="form-control" id="minPrice" placeholder="Min Price" name="min" value=0>
                                  <label for="max_price" class="form-label">Max:</label>
                                  <input type="number" class="form-control" id="maxPrice" placeholder="Max Price" name="max" value={{max}}>
                                  </div>
                              </div>
                          </div>
              
                          <div class="modal-footer">
                              <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary" style="background-color: rgb(2, 35, 2);color: antiquewhite;" name="filter" value="hey">Apply Filter</button>
                          </div>
                      </div>
                    </form>
                  </div>
              </div>
                {% endif %}
                
                {% for i in prod %}
      
                <div class="col-md-4">
                    <a href="/product_page/{{i.id}}" style="text-decoration: none;">
                    <div class="card" style="height: 350px;">
                        {% set img_name=i.id %}
                        <img src="{{url_for('static', filename='products/'+img_name|string+'.png')}}" class="card-img-top" alt="Product Image" height="250px" width="250px">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-10">
                                    <h5 class="card-title" style="display: inline;"><span style="font-weight: bolder;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >{{i.name}} </h5>
                                </div>
                                
                            </div>
                           
                            
                            <p class="card-text" style="font-size: 10px;">{{i.category_name}} | {{i.brand}}</p>

                            
                        </div>
                    </div>
                    </a>
                    <form method="post">
                        <div class="input-group mb-3">
                          <span class="input-group-text" style="width: 50px;">₹</span>
                          <span class="input-group-text" style="width: 150px;">{{i.price}}</span>

                          
                          {% if (i.size_36+i.size_37+i.size_38+i.size_39+i.size_40+i.size_41+i.size_42)==0 %}
                          <button class="btn btn-outline-secondary" type="submit" name="wishlist" value="{{i.id}}"  style="background-color: gray; color: rgb(27, 26, 26);width: 55px;" disabled><i id="heartIcon" class="fas fa-heart"></i></button>
                          <button class="btn btn-outline-secondary" type="submit" id="add" name="product" value="{{i.id}}" style="background-color: gray; color: rgb(27, 26, 26);width: 100px;" disabled>Out of Stock</button>
                          {% else %}
                          {% if heart|length > 0 %}
                    
                    
                          {% if i.id in heart %}
                          
                          <button class="btn btn-outline-secondary" type="submit" name="wishlist_remove" value="{{i.id}}"  style="background-color: white; color: rgb(5, 39, 5);width: 55px;" ><i id="heartIcon" class="fas fa-heart" style="color: red;"></i></button>  
                          <button class="btn btn-outline-secondary" type="button" id="add" name="product" value="{{i.id}}" style="color: white;background-color: rgb(5, 39, 5);width: 100px;" data-bs-toggle="modal" data-bs-target="#addToCartModal" onclick="showModal();">Add to Cart</button>
                          {% else %}
                           
                          <button class="btn btn-outline-secondary" type="submit" name="wishlist" value="{{i.id}}"  style="background-color: white; color: rgb(5, 39, 5);width: 55px;" ><i id="heartIcon" class="fas fa-heart" ></i></button>                        
                         <button class="btn btn-outline-secondary" type="button" id="add" name="product" value="{{i.id}}" style="color: white;background-color: rgb(5, 39, 5);width: 100px;" data-bs-toggle="modal" data-bs-target="#addToCartModal" onclick="showModal();">Add to Cart</button>
                           {% endif %}

                           
                    
                           {% else %}
                           
                           <button class="btn btn-outline-secondary" type="submit" name="wishlist" value="{{i.id}}"  style="background-color: white; color: rgb(5, 39, 5);width: 55px;" ><i id="heartIcon" class="fas fa-heart" ></i></button>                        
                          <button class="btn btn-outline-secondary" type="button" id="add" name="product" value="{{i.id}}" style="color: white;background-color: rgb(5, 39, 5);width: 100px;" data-bs-toggle="modal" data-bs-target="#addToCartModal" onclick="showModal('{{i.id}}');" id="sendValue">Add to Cart</button>
                            {% endif %}
                          {% endif %}
                        </div>
                    </form>
                    <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <form method="post">
                          <div class="modal-content">
                              <div class="modal-header">
                                Filter
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                  <ul class="list-group">
                                      <p>Gender</p>
                                      <li class="list-group-item"><input type="checkbox" id="category1" name="Men" value="Men"> Men</li>
                                      <li class="list-group-item"><input type="checkbox" id="category2" name="Women" value="Women"> Women</li>
                                      <li class="list-group-item"><input type="checkbox" id="category3" name="Child" value="Child"> Child</li>
                                      <li class="list-group-item"><input type="checkbox" id="category4" name="Unisex" value="Unisex"> Unisex</li>
                                  </ul>
                              </div>
                              <hr class="my-3">
                              <div class="modal-body">
                                  <ul class="list-group">
                                      <p>Size</p>
                                      <li class="list-group-item"><input type="checkbox" id="size36" name="36" value="36"> 36</li>
                                      <li class="list-group-item"><input type="checkbox" id="size37" name="37" value="37"> 37</li>
                                      <li class="list-group-item"><input type="checkbox" id="size38" name="38" value="38"> 38</li>
                                      <li class="list-group-item"><input type="checkbox" id="size39" name="40" value="39"> 39</li>
                                      <li class="list-group-item"><input type="checkbox" id="size40" name="41" value="40"> 40</li>
                                      <li class="list-group-item"><input type="checkbox" id="size41" name="42" value="41"> 41</li>
                                      <li class="list-group-item"><input type="checkbox" id="size42" name="43" value="42"> 42</li>
                                  </ul>
                              </div>
                              <hr class="my-3">
                  
                              <div class="modal-body">
                                  <ul class="list-group">
                                      <p>Brand</p>
                                      {% for i in b %}
                                      <li class="list-group-item"><input type="checkbox" id="category1" name="{{i}}" value="{{i}}"> {{i}}</li>
                                      {% endfor %}
                                  </ul>
                              </div>
                              <hr class="my-3">
                  
                              <div class="modal-body">
                                  <p>Price</p>
                                  <div class="row">
                                      <div class="col-md-6">
                                          <label for="minPrice" class="form-label">Min:</label> 
                                      <input type="number" class="form-control" id="minPrice" placeholder="Min Price" name="min_price">
                                      <label for="maxPrice" class="form-label">Max:</label>
                                      <input type="number" class="form-control" id="maxPrice" placeholder="Max Price" name="max_price" value="{{max}}">
                                      </div>
                                  </div>
                              </div>
                  
                              <div class="modal-footer">
                                  <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-primary" style="background-color: rgb(2, 35, 2);color: antiquewhite;" name="filter" value="hey">Apply Filter</button>
                              </div>
                          </div>
                        </form>
                      </div>
                  </div>
                    <div class="modal fade" id="addToCartModal" tabindex="-1" aria-labelledby="addToCartModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title custom-font" id="addToCartModalLabel">Select Size and Quantity</h5>
                              
                            </div>
                            <div class="modal-body">
                              <form method="post">
                                <div class="mb-3">
                                  <label for="size" class="form-label">Size:</label>
                                  <select class="form-select" id="size" name="size">
                                    {% if i.size_36>0 %}
                                    <option value="36">36</option>
                                    {% endif %}
                                    {% if i.size_37>0 %}
                                    <option value="37">37</option>
                                    {% endif %}
                                    {% if i.size_38>0 %}
                                    <option value="38">38</option>
                                    {% endif %}
                                    {% if i.size_39>0 %}
                                    <option value="39">39</option>
                                    {% endif %}
                                    {% if i.size_40>0 %}
                                    <option value="40">40</option>
                                    {% endif %}
                                    {% if i.size_41>0 %}
                                    <option value="41">41</option>
                                    {% endif %}
                                    {% if i.size_42>0 %}
                                    <option value="42">42</option>
                                    {% endif %}
                                  </select>
                                </div>
                                <div class="mb-3">
                                  <label for="quantity" class="form-label">Quantity:</label>
                                  <input type="number" class="form-control" id="quantity" name="quantity" min="1" value="1">
                                </div>
                              
                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary" name="product" id="takeValue" value="{{i.id}}">Add to Cart</button>
                            </div>
                        </form>
                          </div>
                        </div>
                      </div>
                     
                </div>
                {% endfor %}
         

            </div>
        </div>
    </div>
</div>




  <footer class="text-center py-4">
    <p style="font-size: 8px;">&copy; 2023 AeroStride. All rights reserved. <a data-toggle="modal" data-target="#policiesModal" href="#">Terms & Conditions applied.</a></p>
  </footer>

  <div class="modal fade " id="policiesModal" tabindex="-1" role="dialog" aria-labelledby="policiesModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="policiesModalLabel">AeroStride Policies</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" id="policiesTabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="terms-tab" data-toggle="tab" href="#terms" role="tab" aria-controls="terms" aria-selected="true">Terms and Conditions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="return-tab" data-toggle="tab" href="#return" role="tab" aria-controls="return" aria-selected="false">Return Policy</a>
            </li>
          </ul>
          <div class="tab-content" id="policiesTabsContent">
            <div class="tab-pane fade show active" id="terms" role="tabpanel" aria-labelledby="terms-tab">
              
              <p><p>AeroStride Terms and Conditions<br><br>

                1. Acceptance of Terms
                By accessing and using the AeroStride website ("Site") and services, you agree to comply with these terms and conditions. If you do not agree, please refrain from using our services.<br>
                
                2. Use of the Site
                You may use the Site for personal, non-commercial purposes only. Any unauthorized use or modification of the Site's content, images, or materials is prohibited.<br>
                
                3. Product Information
                We strive to provide accurate product information on the Site. However, we do not guarantee the accuracy, completeness, or reliability of any product descriptions, prices, or availability.<br>
                
                4. Orders and Payments
                Placing an order on our Site constitutes an offer to purchase products. We reserve the right to refuse or cancel orders at our discretion. Payments must be made using the provided payment methods.<br>
                
                5. Shipping and Returns
                Please refer to our Return Policy for information regarding returns, exchanges, and shipping procedures.<br>
                
                6. Intellectual Property
                All content on the Site, including but not limited to text, images, logos, and designs, is protected by copyright and other intellectual property laws. You may not reproduce, distribute, or modify any content without our permission.<br>
                
                7. Privacy Policy
                Your privacy is important to us. Please review our Privacy Policy to understand how we collect, use, and protect your personal information.<br>
                
                8. Disclaimer of Warranties
                The Site and its content are provided "as is" and "as available." We make no warranties or representations, express or implied, regarding the accuracy, reliability, or suitability of the Site for any purpose.<br>
                
                9. Limitation of Liability
                In no event shall AeroStride or its affiliates be liable for any indirect, incidental, special, or consequential damages arising out of or in connection with your use of the Site.<br>
                
                10. Governing Law and Jurisdiction
                These terms and conditions are governed by and construed in accordance with the laws of [Your Jurisdiction]. Any disputes shall be subject to the exclusive jurisdiction of the courts of [Your Jurisdiction].<br>
                
                11. Changes to Terms
                We reserve the right to modify these terms and conditions at any time. It is your responsibility to review the terms periodically. Your continued use of the Site after changes are made constitutes your acceptance of the updated terms.<br>
                
</p>
            </div>
            <div class="tab-pane fade" id="return" role="tabpanel" aria-labelledby="return-tab">
             
              <p>Aerostride Return Policy<br><br>

                At Aerostride, we strive to provide the best products and customer service. If you are not completely satisfied with your purchase, you may return eligible items within 30 days from the date of purchase for a refund or exchange.<br>
                
                Eligibility Criteria for Returns:<br><br>
                
                The item must be in its original condition, with all original tags and packaging intact.<br>
                Returns must be initiated within 30 days from the date of purchase.<br>
                Customized or personalized items are not eligible for return, unless there is a manufacturing defect.<br>
                Items marked as final sale are not eligible for return.<br><br>
                Return Process:<br><br>
                
                Contact our customer service team at customer_service_email@example.com to initiate a return.<br>
                Provide your order number and details about the item you wish to return.<br>
                Our customer service team will provide you with a return authorization and instructions on how to proceed.<br><br>
                Refunds:<br><br>
                
                Refunds will be issued to the original payment method within 7-10 business days after we receive the returned item.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
   
    const inputBox = document.getElementById('inputBox');
    const anchorTag = document.getElementById('anchorTag');
   

    inputBox.addEventListener('input', () => {
    anchorTag.href=`/sneakers/search/${inputBox.value}`;
  });
  function showModal(id) { 
            
            $('#addToCartModal').modal('show');
        }
  
    
</script>

</body>
</html>
