<!DOCTYPE html>
<html>
<head>
    <style>
        @font-face {
    font-family: 'CustomFont';
    src: url("../static/fonts/TAN-NIMBUS.ttf") format('truetype'); /* Replace with actual font file path */
}

/* Apply the custom font to specific elements */
.custom-font {
    font-family: 'CustomFont', sans-serif;
    /* You can also specify font size, color, etc. here */
}
    </style>
    <title>Spring Font with Tan Color</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Include Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Spring&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="custom-font">Welcome to Spring Font</h1>
        <p class="lead">This is an example of using the "Spring" font type with a tan color using Bootstrap.</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
